---
import AuthComponent from "../../solid/auth/AuthComponent";
import menuBurger from "../../../assets/icons/menuBurger.svg";
import home from "../../../assets/icons/home.svg";
---

<script>
  document.getElementById("home-button")?.addEventListener("click", () => {
    window.location.href = `/`;
  });
</script>
<div>
  <div class="nav-bar">
    <div class="top">
      <!-- <img id="menu-button" src={menuBurger} alt="menu burger" /> -->
      <img id="home-button" src={home} alt="home" onclick="" />
    </div>
    <div class="bottom">
      <div>
        <AuthComponent client:load />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 100vh;
    background-color: #555;

    & .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        width: 80%;
        padding: 10px 0;
        margin: auto;
        cursor: pointer;
      }
    }

    & .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        width: 80%;
        padding: 4px 0;
        margin: auto;
      }
    }
  }
</style>
