---
import GameComponent from "../frameworks/svelte/components/game/GameComponent.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Starchess</title>
	</head>
	<body>
		<GameComponent client:load />
	</body>
</html>

<style>
	:root {
		background-color: rgb(241, 246, 248);
	}
</style>
